<div class="faq-01-section-01 section-margin">
  <div class="container">
    <div class="components-title-03">
      <div class="part-01">
        <h2 class="text-uppercase">f.a.q</h2>
      </div>
      <div class="divider">
        <div class="divide"></div>
      </div>
    </div>
  </div>
  <div class="components-016">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="accordion accordion-flush">
            <div class="accordion-content mb-3">
              <div class="accordion-item">
                <div class="accordion-header" id="qna2-h-01">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#qna2-a-01" aria-expanded="aria-expanded" aria-controls="qna2-a-01">
                    <p class="fs-5 fw-bolder title">How are personal belongings transported abroad?</p><span class="accordion-icon-1"></span>
                  </button>
                </div>
                <div class="accordion-collapse collapse show" id="qna2-a-01" aria-labelledby="qna2-h-01" data-bs-parent="#qna2">
                  <div class="accordion-body">
                    <p class="fw-normal">Temporary or permanent work assignments, studying abroad or returning home - there are many reasons for transporting personal effects or furniture across the border. No matter what the motive may be, it is always important that they arrive at their destination safely and on time.</p>
                    <p class="fw-normal">If you want to transport your personal belongings abroad, start by making a detailed list with an approximate value of each item. All items must be listed by packaging unit (box, crate, bag, etc.), and each packaging unit needs to be clearly marked and numbered. This list is handed over to the freight forwarder, who will prepare the documents for the customs authorities.</p>
                    <p class="fw-normal">The choice of transport method will depend on the shipment volume, the destination, and on how quickly you need your items delivered.Road transport can be a cost-effective option for closer destinations. You can have a truck or van hired exclusively for your needs, or make use of groupage transport.</p>
                    <p class="fw-normal">For overseas destinations, seafreight is the most economical option. You can book a full container or make use of consolidated transport, sharing a container with other shippers. Some forwarders will require special wooden crates, while others also accept cardboard boxes or suitcases.</p>
                    <p class="fw-normal">If you have only a few boxes and need them shipped as quickly as possible, airfreight is the simplest option. Airlines will charge based on the actual or “calculated weight” of your shipment, whichever is higher. The calculated weight in kg is determined as follows: length x width x height in centimetres, divided by 6,000.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="accordion accordion-flush">
            <div class="accordion-content mb-3">
              <div class="accordion-item">
                <div class="accordion-header" id="qna2-h-02">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#qna2-a-02" aria-controls="qna2-a-02">
                    <p class="fs-5 fw-bolder title">What is the procedure for importing herbal supplements for animals?</p><span class="accordion-icon-1"></span>
                  </button>
                </div>
                <div class="accordion-collapse collapse" id="qna2-a-02" aria-labelledby="qna2-h-02" data-bs-parent="#qna2">
                  <div class="accordion-body">
                    <p class="fw-normal">First of all, you should have your own warehouse or a signed storage contract with a company that offers warehouse space approved by the veterinary inspection to store this type of goods.</p>
                    <p class="fw-normal">The goods are reported to the Veterinary Inspection at the border crossing and sent to the above-mentioned warehouse, where they will be placed under customs or veterinary supervision until the end of the customs clearance procedure.</p>
                    <p class="fw-normal">If it is a food supplement, i.e. the product is not characterized as medicine, no additional registration is required. However, the goods will still need to be cleared through customs based on the statement of the importer confirming the categorization of the product.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
