<div class="404-section-01">
  <div class="components-028">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-center">
            <div class="bg bg-404"></div>
          </div>
          <h2 class="text-center text-uppercase">Page Not Found</h2>
          <p class="text-center fw-bolder">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </div>
</div>
