<div class="service-detail-section-01 section-margin">
  <div class="container">
    <div class="components-title-03">
      <div class="part-01">
        <h2 class="text-uppercase">Service detail</h2>
      </div>
      <div class="divider">
        <div class="divide"></div>
      </div>
    </div>
  </div>
  <div class="container-sm">
    <div class="row">
      <div class="container-sm">
        <div class="components-029 components-029-no-animate">
          <ul class="nav nav-pills nav-fill bg-primary" role="tablist">
            <li class="nav-item"><a class="nav-link fw-bolder mb-0 active" data-bs-toggle="tab" data-bs-target="#item001" href="#item001-tabs" role="tab" aria-controls="item001" aria-selected="true">Agile</a></li>
            <li class="nav-item"><a class="nav-link fw-bolder mb-0" data-bs-toggle="tab" data-bs-target="#item002" href="#item002-tabs" role="tab" aria-controls="item002" aria-selected="false">Cost Transformation</a></li>
            <li class="nav-item"><a class="nav-link fw-bolder mb-0" data-bs-toggle="tab" data-bs-target="#item003" href="#item003-tabs" role="tab" aria-controls="item003" aria-selected="false">Customer Experience</a></li>
            <li class="nav-item"><a class="nav-link fw-bolder mb-0" data-bs-toggle="tab" data-bs-target="#item004" href="#item004-tabs" role="tab" aria-controls="item004" aria-selected="false">Sales &amp; Marketing</a></li>
            <li class="nav-item"><a class="nav-link fw-bolder mb-0" data-bs-toggle="tab" data-bs-target="#item005" href="#item005-tabs" role="tab" aria-controls="item005" aria-selected="false">Strategy</a></li>
            <li class="nav-item"><a class="nav-link fw-bolder mb-0" data-bs-toggle="tab" data-bs-target="#item006" href="#item006-tabs" role="tab" aria-controls="item006" aria-selected="false">Transformation</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="item001" role="tabpanel">
              <p class="fw-normal">Agile is a proven way to transform your business, catalyze innovation, and accelerate profitable growth. We can help you scale Agile across your entire organization to improve time-to-market, boost quality, raise employee morale, and become a truly adaptive organization.</p>
              <p class="fw-normal">We have a proven method for transforming companies into truly Agile enterprises and propelling Agile transformations. It begins with our Agility Quotient diagnostic, which assesses your company’s maturity on critical enablers, and progresses through a structured program that culminates with Agile fully embedded throughout your organization.</p>
              <p class="fw-normal">We provide unmatched training and support, instilling Agile capabilities and expertise across your teams and throughout your company to ensure your organization continues to reap the benefits of Agile long after we’ve left. With Agile stitched into the fabric of your company’s culture, you’ll remain nimble and responsive to changing market conditions for many years to come.</p>
              <p class="fw-normal">We will also help you spot and overcome the cultural barriers that often derail Agile efforts, such as bureaucratic bottlenecks, poor collaboration, or misconceptions about which activities are well-suited to Agile and which are not.</p>
            </div>
            <div class="tab-pane fade" id="item002" role="tabpanel">
              <p class="fw-normal">True cost transformation is about simplifying, refocusing and strengthening your organization so you can pursue growth and provide a better customer experience. Our approach is both holistic and customizable, enabling you to cultivate, reward and continually improve a sustainable cost management culture.</p>
            </div>
            <div class="tab-pane fade" id="item003" role="tabpanel">
              <p class="fw-normal">Leading companies know that great products are necessary but not sufficient: In today’s world, you have to deliver great customer experiences in order to succeed. We call our approach Simple &amp; Digital.  We provide the expertise and tools that help you figure out what matters most to customers, and equip your team to deliver delightful experiences while simplifying processes and eliminating costs.</p>
            </div>
            <div class="tab-pane fade" id="item004" role="tabpanel">
              <p class="fw-normal">We help you achieve sustainable, organic growth by putting your customers at the center of your company’s strategy. Our approach tests every element of your customers’ experience, delivering optimal interactions at every touchpoint.</p>
              <p class="fw-normal">We don’t just help your organization develop a rock-solid strategy; our team will help you execute on every ambition, providing the tools, diagnostics and benchmarks necessary to transform how you serve your customers and earn their lasting devotion.</p>
            </div>
            <div class="tab-pane fade" id="item005" role="tabpanel">
              <p class="fw-normal">In an era of disruption, strategy is more important than ever. We offer creative solutions that have helped thousands of companies across all geographies and sectors develop and execute winning strategies. We’ve been a strategy thought leader for nearly five decades, and we bring unrivaled capabilities, tools, technologies, and talent to every engagement, augmented by an ecosystem of best-of-breed partners that provide specialized expertise. We’ll help you mobilize for change, navigate uncertainty, and flex as needed, so you achieve sustained, profitable growth—a feat only 1 in 11 companies manages to pull off.</p>
            </div>
            <div class="tab-pane fade" id="item006" role="tabpanel">
              <p class="fw-normal">Whether you have an urgent need to improve financial performance or a burning desire to reinvent your business to stay ahead of the competition, there are times when only a bold, comprehensive transformation program will do. We provide the expertise, tools, and materials you need to align your leadership on a shared vision of what the future can be and mobilize the organization to achieve it.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
