<div class="team-01-section-01 section-margin">
  <div class="container">
    <div class="components-title-03">
      <div class="part-01">
        <h2 class="text-uppercase">Team Member</h2>
      </div>
      <div class="divider">
        <div class="divide"></div>
      </div>
    </div>
  </div>
  <div class="components-030">
    <div class="container">
      <div class="row">
        <div class="mt-0">
          <div class="col-12 left">
            <div class="d-flex flex-lg-row flex-column outer-wrapper">
              <div class="img-wrapper"><img class="img-inner-wrapper" src="{{ base_path ~ directory }}/css/images/team-avatar-01.jpg" alt="Tucker"/></div>
              <div class="d-block content-outer-wrapper">
                <div class="overlay"></div>
                <div class="content-wrapper">
                  <div class="fs-4 fw-bolder text-uppercase">Tucker</div>
                  <div class="fs-5 text-uppercase">Senior developer</div><span class="small fw-normal">Impedit aut omnis incidunt suscipit neque deleniti alias temporibus cumque nostrum fugiat quia, nemo eum possimus nulla doloribus, quisquam unde. Nulla, maxime.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4">
          <div class="col-12 right">
            <div class="d-flex flex-lg-row flex-column outer-wrapper">
              <div class="img-wrapper order-lg-2 order-1"><img class="img-inner-wrapper" src="{{ base_path ~ directory }}/css/images/team-avatar-02.jpg" alt="Jennifer"/></div>
              <div class="d-block content-outer-wrapper order-lg-1 order-2">
                <div class="overlay"></div>
                <div class="content-wrapper">
                  <div class="fs-4 fw-bolder text-uppercase">Jennifer</div>
                  <div class="fs-5 text-uppercase">Project manager</div><span class="small fw-normal">Impedit aut omnis incidunt suscipit neque deleniti alias temporibus cumque nostrum fugiat quia, nemo eum possimus nulla doloribus, quisquam unde. Nulla, maxime.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4">
          <div class="col-12 left">
            <div class="d-flex flex-lg-row flex-column outer-wrapper">
              <div class="img-wrapper"><img class="img-inner-wrapper" src="{{ base_path ~ directory }}/css/images/team-avatar-03.jpg" alt="Kate"/></div>
              <div class="d-block content-outer-wrapper">
                <div class="overlay"></div>
                <div class="content-wrapper">
                  <div class="fs-4 fw-bolder text-uppercase">Kate</div>
                  <div class="fs-5 text-uppercase">Ui/Ux</div><span class="small fw-normal">Impedit aut omnis incidunt suscipit neque deleniti alias temporibus cumque nostrum fugiat quia, nemo eum possimus nulla doloribus, quisquam unde. Nulla, maxime.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4">
          <div class="col-12 right">
            <div class="d-flex flex-lg-row flex-column outer-wrapper">
              <div class="img-wrapper order-lg-2 order-1"><img class="img-inner-wrapper" src="{{ base_path ~ directory }}/css/images/team-avatar-04.jpg" alt="Steve"/></div>
              <div class="d-block content-outer-wrapper order-lg-1 order-2">
                <div class="overlay"></div>
                <div class="content-wrapper">
                  <div class="fs-4 fw-bolder text-uppercase">Steve</div>
                  <div class="fs-5 text-uppercase">Senior developer</div><span class="small fw-normal">Impedit aut omnis incidunt suscipit neque deleniti alias temporibus cumque nostrum fugiat quia, nemo eum possimus nulla doloribus, quisquam unde. Nulla, maxime.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
